.header
    position: absolute
    width: 100%
    top: 0
    margin: 40px auto
    font-family: $montserrat
    color: $main-color
    z-index: 99
    &__inner
        display: flex
        justify-content: space-between
        align-items: center
    &__menu-list
        display: flex
        justify-content: space-between
        gap: 30px
        font-size: 14px
    &__phone
        padding-left: 60px
        font-family: $montserrat-semi
        font-size: 18px
