.header
    margin: 40px auto
    line-height: 122.8%
    &__inner
        display: flex
        justify-content: space-between
        align-items: center
    &__logo
    &__menu
    &__menu-list
        display: flex
        justify-content: space-between
        gap: 30px
        font-family: $montserrat
        font-size: 14px
    &__menu-item
    &__menu-link
    &__phone
        font-family: $montserrat-semi
        font-size: 18px
